<script type="text/ng-template" id="categories_renderer.html">
    <span ng-click="toggleCategory(category.name)" ng-class="{expanded:category.expanded}"
          ng-if="category.children.length>0">
        {{category.displayName}}
    </span>
    <ul ng-if="category.children.length>0" ng-show="category.expanded">
        <li ng-repeat="category in category.children" ng-include="'categories_renderer.html'">
        </li>
    </ul>

    <span ng-click="showProducts(category.name)" ng-class="{selected:category.selected}"
          ng-if="category.children.length==0">
        {{category.displayName}}
    </span>

</script>
<div>
    <button ng-click="login()">login</button>
    <button ng-click="logout()">logout</button>
</div>
<div id="categories">
    <ul>
        <li ng-repeat="category in categories" ng-include="'categories_renderer.html'">

        </li>
    </ul>
</div>



<div id="products">
    <div ng-repeat="product in products">
        {{product.displayName}}
        {{product.price}}
        <button ng-click="addToCart(product)">add</button>
    </div>
</div>

<div id="filters">
    <ul>
        <li ng-repeat="propertyValue in selectedProperties" ng-click="delFilter(propertyValue.name)">{{propertyValue.displayName}}</li>
    </ul>

    <ul>
        <li ng-repeat="property in productsProperties">
            {{property.displayName}}
            <ul>
                <li ng-repeat="propertyValue in property.propertyValues" ng-click="addFilter(propertyValue.name)">
                    {{propertyValue.displayName}}
                    <span ng-if="property.isAdditional">+</span>{{propertyValue.count}}
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="clear">

<span ng-repeat="page in pages" ng-click="showPage(page)" ng-class="{selected:page==currentPage}">{{page}}</span>
</div>