<script type="text/ng-template" id="categories_renderer.html">
    <span ng-click="toggleCategory(category.name)">{{category.displayName}}</span>
    <ul ng-show="category.selected">
        <li ng-repeat="category in category.children" ng-include="'categories_renderer.html'">
        </li>
    </ul>
</script>

<p>Categories:</p>
<ul>
    <li ng-repeat="category in categories" ng-include="'categories_renderer.html'">

    </li>
</ul>

<div ng-repeat="product in products">
    {{product.displayName}}
</div>